*
{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

/*Header time*/
#head
{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}
#head h2
{
    margin-top: -10px;
  font-size: 1.5rem;
  padding-left: 20px;
  color: blueviolet;
  font-family: 'Lily Script One', cursive;
}

#head a
{
    padding-right: 20px;
    margin-top: 20px;
}


.login
{
    color: black;
    padding-left: 950px;
}

.signup
{
    color: white;
    background-color: #8a2be2;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
}

/*body time*/
h1{
    text-align: center;
    font-size: 3rem;
}
table
{
    padding-left: 100px;
}
.img1
{
    height: 300px;
    width: 500px;
    border-radius: 15px;
    border:#d4d4d4 solid 5px;
}
.img2
{
    height: 300px;
    width: 500px;
    border-radius: 15px;
    border:#d4d4d4 solid 5px;
}
/*what we have for you*/
.help
{
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    
}
.img3
{
    text-align: center;
    height: 100px;
    width: 100px;
}
.img4
{
    text-align: center;
    height: 100px;
    width: 100px;
}
.img5
{
    text-align: center;
    height: 100px;
    width: 100px;
}
.box2 p{
    text-align: center;
}
